<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <div class="col-md-4 text-center line-box">
                <img src="/content/images/home/iconindex1.png" alt="no-image" />
                <h5 class="product--name">NHIÊN LIỆU BIOMASS</h5>
                <span class="product--quote">Biomass là nguyên liệu sinh khối, là vật liệu sinh học có được từ thực vật và cây cối. Nó có thể sinh ra nhiệt...</span><br/><br/>
                <a routerLink="product" class="product--button">Xem Thêm</a>
            </div>
            <div class="col-md-4 text-center line-box">
                <img src="/content/images/home/iconindex2.png" alt="no-image" />
                <h5 class="product--name">LÒ HƠI</h5>
                <span class="product--quote">Lò hơi công nghiệp là thiết bị sản xuất ra hơi nước cung cấp cho các thiết bị máy móc và phục vụ đời sống con người.</span><br/><br/>
                <a routerLink="product" class="product--button">Xem Thêm</a>
            </div>
            <div class="col-md-4 text-center">
                <img src="/content/images/home/iconindex3.png" alt="no-image" />
                <h5 class="product--name">GIẢI PHÁP NĂNG LƯỢNG</h5>
                <span class="product--quote">Cung cấp các dịch vụ tư vấn kỹ thuật, hướng dẫn công thức pha trộn các tỉ lệ nguyên liệu một cách hiệu quả, đề xuất các giải pháp...</span><br/><br/>
                <a routerLink="product" class="product--button">Xem Thêm</a>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
