<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-md-4">
                <h4 class="company--title">Lịch sử hình thành</h4>
                <hr/>
                <p style="font-weight: 500">- Mộc Vinh Hoa được thành lập năm 2015 – Khởi nghiệp là công ty thu mua và cung cấp nguyên liệu đốt cho ngành Công nghiệp, sau đó được mở rộng mô hình sản xuất các loại viên nén, Dăm băm, Mùn cưa... </p>
                <p style="font-weight: 500">- Trải qua 05 năm kinh nghiệm, Mộc Vinh Hoa đã đầu tư và phát triển thêm gói dịch vụ tư vấn kỹ thuật, hướng dẫn công thức pha trộn các tỉ lệ nguyên liệu một cách hiệu quả, đề xuất các giải pháp tiết kiệm năng lượng và tài chính ưu việt nhất cho Qúy đối tác khách hàng.</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6 company--box-div" style="padding: 5px;">
                        <div class="company--box company--box--b1">
                            <div class="company--box company--box--blue"></div>
                            <div class="company--box company--box--text a1Class">
                                <span>Thông điệp</span>
                                <p>Mộc Vinh Hoa mong muốn là người bạn đồng hành, cộng sự uy tín trong ngành sản xuất Công nghiệp của Qúy đối tác</p>
                            </div>
                            <div class="company--box--box-hover a2Class">
                                <div class="content">
                                    <div class="title">
                                        <span>Thông điệp</span>
                                    </div>
                                    <div class="desc">Mộc Vinh Hoa mong muốn là người bạn đồng hành, cộng sự uy tín trong ngành sản xuất Công nghiệp của Qúy đối tác</div>
                                    <!-- <div class="info-admin"> -->
                                        <!-- <a class="name">TRƯƠNG QUỐC TUẤN</a><br/>
                                        <a class="job">CEO</a> -->
                                        <!--<br/><br/>-->
                                        <!--<div class="button-seemore">-->
                                            <!--<a href="https://phuctruonghai.vn/su-menh/"> XEM THÊM </a>-->
                                        <!--</div>-->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 company--box-div" style="padding: 5px;">
                        <div class="company--box company--box--b2">
                            <div class="company--box company--box--blue"></div>
                            <div class="company--box company--box--text b1Class">
                                <span>Tầm nhìn</span>
                                <p>Dẫn đầu thị trường trong việc sử dụng và tận dụng nguồn nguyên liệu tái tạo – Biomass</p>
                            </div>
                            <div class="company--box--box-hover b2Class">
                                <div class="content">
                                    <div class="title">
                                        <span>Tầm nhìn</span>
                                    </div>
                                    <div class="desc">Dẫn đầu thị trường trong việc sử dụng và tận dụng nguồn nguyên liệu tái tạo – Biomass</div>
                                    <!-- <div class="info-admin">
                                        <a class="name">TRƯƠNG QUỐC TUẤN</a><br/>
                                        <a class="job">CEO</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 company--box-div" style="padding: 5px;">
                        <div class="company--box company--box--b3 c1Class">
                            <div class="company--box company--box--blue"></div>
                            <div class="company--box company--box--text c1Class">
                                <span>Giá trị cốt lõi</span>
                                <p>Cam kết mang lại sản phẩm chất lượng, đảm bảo số lượng. Không ngừng cải thiện vfa hoàn thiện để phục vụ khách hàng một cách tốt nhất.</p>
                            </div>
                            <div class="company--box--box-hover c2Class">
                                <div class="content">
                                    <div class="title">
                                        <span>Giá trị cốt lõi</span>
                                    </div>
                                    <div class="desc">Cam kết mang lại sản phẩm chất lượng, đảm bảo số lượng. Không ngừng cải thiện vfa hoàn thiện để phục vụ khách hàng một cách tốt nhất.</div>
                                    <!-- <div class="info-admin">
                                        <a class="name">TRƯƠNG QUỐC TUẤN</a><br/>
                                        <a class="job">CEO</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 company--box-div" style="padding: 5px;">
                        <div class="company--box company--box--b4 d1Class">
                            <div class="company--box company--box--blue"></div>
                            <div class="company--box company--box--text d1Class">
                                <span>Sứ mệnh</span>
                                <p>Cung cấp các sản phẩm thân thiện với môi trường, tiết kiệm nguồn tài chính. Xây dựng môi trường làm việc chuyên nghiệp, uy tín và năng động.</p>
                            </div>
                            <div class="company--box--box-hover d2Class">
                                <div class="content">
                                    <div class="title">
                                        <span>Sứ mệnh</span>
                                    </div>
                                    <div class="desc">Cung cấp các sản phẩm thân thiện với môi trường, tiết kiệm nguồn tài chính. Xây dựng môi trường làm việc chuyên nghiệp, uy tín và năng động.</div>
                                    <!-- <div class="info-admin">
                                        <a class="name">TRƯƠNG QUỐC TUẤN</a><br/>
                                        <a class="job">CEO</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
