<div class="tn-manage-div">
    <h2 id="page-heading">
        <span>Sản Phẩm</span>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            <fa-icon [icon]="'plus'"></fa-icon> <span>Thêm Sản Phẩm</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="products?.length === 0">
        <span>No products found</span>
    </div>
    <div class="table-responsive" *ngIf="products?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span>Loại</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th scope="col"  jhiSortBy="quote"><span>Trích Dẫn</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of products ;trackBy: trackId">
                <td><a [routerLink]="['/product', item.id, 'view' ]">{{item.id}}</a></td>
                <td>{{item.name}}</td>
                <td>{{item.productType}}</td>
<!--                <td>{{item.quote}}</td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['./', item.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Xem</span>
                        </button>
                        <button type="button" (click)="deleteProduct(item)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="products?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
