<div class="row">
    <div class="col-12">
        <div class="box-partner-star">
            <div class="background-left"></div>
            <div class="all"></div>
            <div class="background-right"></div>
            <div class="background-right-gradient"></div>
        </div>
        <div class="box-partner">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-3 wraptocenter">
                            <img src="/content/images/home/Masan.png" alt="no-image" />
                        </div>
                        <div class="col-3 wraptocenter">
                            <img src="/content/images/home/12.png" alt="no-image" />
                        </div>
                        <div class="col-3 wraptocenter">
                            <img src="/content/images/home/13.png" alt="no-image" />
                        </div>
                        <div class="col-3 wraptocenter">
                            <img src="/content/images/home/14.jpg" alt="no-image" />
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>
