<div class="tn-div">
    <div class="row">
        <div class="banner"></div>
    </div>
</div>
<div class="tn-div tn-about-us">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <!--<div class="description">-->
                <!--<p>Mộc Vinh Hoa được thành lập năm 2015 – Khởi nghiệp là công ty thu mua và cung cấp nguyên liệu đốt cho ngành Công nghiệp. Có Giấy chứng nhận đăng ký kinh doanh và đăng ký thuế số ….. do Sở Kế hoạch Đầu tư Tỉnh Đồng Nai cấp lần đầu ngày …..</p>-->
                <!--<p>Sau đó PTT được mở rộng thêm mô hình sản xuất các loại viên nén, Dăm băm, Mùn cưa....</p>-->
                <!--<p>Trải qua 05 năm kinh nghiệm, Mộc Vinh Hoa đã đầu tư và phát triển thêm gói dịch vụ tư vấn kỹ thuật, hướng dẫn công thức pha trộn các tỉ lệ nguyên liệu một cách hiệu quả, đề xuất các giải pháp tiết kiệm năng lượng và tài chính ưu việt nhất cho Qúy đối tác khách hàng.-->
                <!--</p>-->
            <!--</div>-->

 
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <span class="category">THÔNG ĐIỆP TỪ CEO</span>
                                    <div class="line"></div>
                                </div>
                                <div class="notice">
                                    <img src="/content/images/about-us/notes.png" alt="no-image" style="margin-bottom: 20px"/>
                                    <p>Mang đến cho Qúy đối tác khách hàng các giải pháp tối ưu trong việc sử dụng chất đốt trong Công nghiệp. Cung cấp các nguồn nguyên liệu sạch, có nhiệt trị tốt, thân thiện với môi trường và tiết kiệm chi phí đầu tư một cách tốt nhất. </p>
                                </div>
                            </div>
                        </div><br/><br/>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/content/images/about-us/about-us.png" alt="no-image" class="image-avatar"/>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div>
                        <span class="category">LỊCH SỬ CÔNG TY</span>
                        <div class="line"></div>
                    </div>
                    <div class="notice-history">
                        <p>-	Mộc Vinh Hoa được thành lập năm 2015 – Khởi nghiệp là công ty thu mua và cung cấp nguyên liệu đốt cho ngành Công nghiệp.</p>
                        <p>-	Sau đó Mộc Vinh Hoa được mở rộng thêm mô hình sản xuất các loại viên nén, Dăm băm, Mùn cưa.... </p>
                        <p>-	Trải qua 05 năm kinh nghiệm, Mộc Vinh Hoa đã đầu tư và phát triển thêm gói dịch vụ tư vấn kỹ thuật, hướng dẫn công thức pha trộn các tỉ lệ nguyên liệu một cách hiệu quả, đề xuất các giải pháp tiết kiệm năng lượng và tài chính ưu việt nhất cho Qúy đối tác khách hàng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>
