<div class="image-upload">
    <label for="file-input" class="box-image">
        <div>
            <img [src]="fileDTO.fileUri" *ngIf="fileDTO" style="width: 100%; height: 100%">
        </div>

        <div class="text-center box-image--text" *ngIf="fileDTO">
            <fa-icon icon="camera" style="font-size: 25px"></fa-icon><br/>
            <span>Upload Image</span>
        </div>

        <div class="text-center" *ngIf="!fileDTO">
            <img src="/content/images/ico-photo.svg" alt="no-image" style="width: 30px; height: 30px"/><br/>
            <span>Click here to upload</span>
        </div>
    </label>
    <input id="file-input" #file type="file" accept='image/*' (change)="preview({files : file.files})" />
</div>

