@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.box-phone {
  margin-left: 8px;
}

.navbar-image-logo {
  width: 25px;
}

.navbar-title {
  color: #566436eb;
  font-weight: bold;
  margin-left: 2px;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  background: #dceaff !important;
  //background: #002357 !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 68px;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    color: #2c1602;
    font-weight: 500;
  }

  a.nav-link.active {
    font-weight: 800;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 65px;
  width: 135px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo2.png') no-repeat center center;
  background-size: contain;
}

.navbar-collapse {
  background: #dceaff !important;
}

.navbar-dark .navbar-toggler {
  color: rgb(104 34 34 / 50%) !important;
}

ul.dropdown-menu {
  top: 3px;
  background: #dceaff !important;

  a {
    color: #2c1602;
    font-weight: 400;
  }

  li:hover,
  a:hover {
    background: #efd0d0 !important;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .logo-img {
    height: 40px;
    width: 120px;
  }

  .navbar-collapse {
    background: #041f48;
    margin-top: -1px;
    padding: 10px 0px 10px 15px;
  }
}
